:root {
  --primary-dark: #2b2e3d;
  --secondary-dark: #354056;
  --primary-light: #77899a;
  --accent: #f9c340;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  background-color: #1b1a20;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

header {
  margin-top: 60px;
}

main {
  width: 800px;
  margin: 0 auto 40px;
  padding: 30px;
  display: flex;
  justify-content: center;
  gap: 40px;
  background-color: var(--primary-dark);
  color: #EcEdEe;
  border-radius: 5px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.8em;
  width: 200px;
  font-size: 0.85em;
  line-height: 0.85em;
  font-weight: 500;
}

.colorDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
}

#colorPicker {
  visibility: hidden;
}

button, #colorBtn {
  height: 2.9em;
  border-radius: 3px;
}

#colorBtn {
  width: 3.6em;
  background-color: #222;
}

button, .colorDiv, input[type='range'] {
  width: 12em;
}

button {
  color: white;
  padding: 10px 0px;
  border: none;
  background-color: var(--secondary-dark);
}

button.active {
  background-color: var(--primary-light);
}
  
button, input[type='color'] {
  transition: transform 0.1s ease-in-out;
}

button:hover, input[type='color']:hover, #colorBtn:hover {
  box-shadow: rgba(53, 64,86, .4) 0px 0px 10px;
  border: 1px solid var(--primary-light);
}

button:active {
  background-color: var(--primary-light);
  transform: scale(1.02);
}

input[type='color'] {
  width: 40px;
  height: 40px;
  border: none;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}
  
input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#sizeWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

input[type='range'] {
  accent-color: var(--accent);
}

.size-value {
  font-size: 1em;
}

#gridLinesBtn {
  margin-top: 6px;
}

.grid {
  width: 500px;
  height: 500px;
  padding: 20px;
  display: grid;
  background-color: var(--secondary-dark);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

.grid-element {
  user-select: none;
  background-color: white;
}

.gridLines {
  border-top: 1px solid #999;
  border-left: 1px solid #999;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 25px;
  font-size: 0.85em;
}

.fa-github {
  color: var(--primary-dark);
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}
  
.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

/* Small screens ----------- */
@media only screen
and (max-width : 815px) {
  body {
    font-size: 10px;
  }
  main {
    width: 400px;
    margin: 0 auto 20px;
    padding: 15px;
    gap: 20px;
  }
  .grid {
    width: 250px;
    height: 250px;
    padding: 10px;
}

  button, .colorDiv, input[type='range'] {
    font-size: 0.85em;
    line-height: 0.4em;
  }
  .controls {
    width: 80px;
    font-size: 0.85em;
    gap: 10px;
  }

  #sizeWrapper {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  input[type='range'] {
    height: 1em;
    margin-bottom: 12px;
  }
  #sizeValue {
    margin-top: 8px;;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
  body {
    font-size: 10px;
  }
  main {
    width: 320px;
    margin: 0 auto 20px;
    padding: 15px;
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
  .grid {
    width: 250px;
    height: 250px;
    padding: 10px;
}

  button, .colorDiv, input[type='range'] {
    font-size: 0.85em;
    line-height: 0.4em;
  }
  .controls {
    width: 320px;
    font-size: 0.85em;
    gap: 10px;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  #sizeWrapper {
    margin-top: 10px;
  }

  input[type='range'] {
    height: 1em;
    margin-bottom: 12px;
  }
}